body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A08;
}

.about {
    color: white;
    background-color: #8181f7;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.partner {
    color: white;
    background-color: #58FAF4;
}

.bg-footer {
    color: white;
    background-color: black;
}